<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ygi.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoo"
        android:label="@string/appname"
        android:roundIcon="@mipmap/logoo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.HomeActivity"
            android:theme="@style/AppTheme.start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
        <activity
            android:name=".activities.Quotes"
            android:label="Quotes" />
        <activity
            android:name=".Tools.Stopwatch"
            android:label="Stopwatch" />
        <activity
            android:name=".Tools.Calculator"
            android:label="Calculator" />
        <activity
            android:name=".activities.Tools"
            android:label="Tools" />
        <activity
            android:name=".activities.Home"
            android:label="@string/appname"
            android:theme="@style/AppTheme.home">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activities.Feedback"
            android:label="Contact us"
            android:parentActivityName=".activities.Home" />
        <activity
            android:name=".activities.About"
            android:label="About"
            android:parentActivityName=".activities.MainActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.MainActivity" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_home"
            android:parentActivityName=".activities.Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NotesActivity"
            android:label="Notes"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.NoteInfoActivity"
            android:label="Notes"
            android:parentActivityName=".activities.NotesActivity" />

        <receiver
            android:name=".utils.DailyReceiver"
            android:enabled="true" />
        <receiver
            android:name=".utils.WakeUpAlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>